@model PISS.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<div class="panel panel-success login-form" id="loginForm">
    <div class="panel-heading clearfix">
        @Html.ActionLink("your logo here", "Index", "Home", new { @class = "navbar-brand" })
        <h1 class="login-text">@ViewBag.Title.</h1>
    </div>
    <div class="panel-body login-form">
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>

                <ul>
                    <li>
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email)
                        @Html.ValidationMessageFor(m => m.Email,null, new { @class = "alert alert-danger" })
                    </li>
                    <li>
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password,null, new { @class = "alert alert-danger" })
                    </li>
                    <li>
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox-label" })
                    </li>
                </ul>
                <input type="submit" value="Log in" class="btn btn-lg btn-success" />

            </fieldset>
            <p class="register-link">
                @Html.ActionLink("Register", "Register") if you don't have an account.
            </p>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
