@model PISS.Models.Diploma

<div class="panel panel-success diploma-status">
            <div class="panel-heading">
@if (this.Model == null)
{
    <h4>Your assignment is not approved. Please wait for its approval or upload an assignment if you haven't already.</h4>
}
else
{
    <h3>Your diploma status:</h3>
    
    <fieldset>
        <ul>
            @if (this.Model.Approver != null)
            {
                <li>
                    <h3>Assignment status:</h3>
                    <h4 class="status">@Model.Approved</h4>
                    <p class="teacher-notes"> Notes: <span> @Html.Encode(Model.ReviewNotes)</span></p>
                    <p>by @this.Model.Approver.Email</p>
                </li>
            }
            @if (this.Model.LeadTeachers != null && this.Model.LeadTeachers.Count > 0)
            {
                <li>
                    <h3>Lead Teachers:</h3>
                    <ul>
                        @foreach (var leadTeacher in this.Model.LeadTeachers)
                        {
                            <li>@leadTeacher.Teacher.Email</li>
                        }
                    </ul>
                </li>
            }
            @if (this.Model.Consultants != null && this.Model.Consultants.Count > 0)
            {
                <li>
                    <h3>Consultants:</h3>
                    <ul>
                        @foreach (var consultant in this.Model.Consultants)
                        {
                            <li>@consultant.Teacher.Email</li>
                        }
                    </ul>
                </li>
            }
            @if (this.Model.DefenceDate != null)
            {
                <li>
                    <h3>Defence Date:</h3>
                    <p>@this.Model.DefenceDate</p>
                </li>
            }
            @if (this.Model.Grade != null)
            {
                <li>
                    <h3>Grade:</h3>
                    <p>@this.Model.Grade</p>
                </li>
            }
            @if (this.Model.GraduationDate != null)
            {
                <li>
                    <h3>Graduation Date:</h3>
                    <p>@this.Model.GraduationDate</p>
                </li>
            }
            @if (this.Model.ReviewFile != null)
            {
                <li>
                    <h3>Review:</h3>
                    <a href='@Url.Action("Index", "Download", new { id = this.Model.ReviewFile.Id })' target = "_blank">@this.Model.ReviewFile.FileName</a>
                    <p>by @Model.Reviewer.Email</p>
                </li>
            }
        </ul>
    </fieldset>
}

  </div>
          </div>

