@model PISS.Models.DoctorateViewModel
<div class="panel panel-success diploma-view">
    <div class="panel-heading">
        <h4>Doctorate of @Model.Doctorate.Doctorant.Email</h4>
    </div>
    <div class="panel-body">
        
        @if (this.Model.Doctorate.GeneralWorkPlanFile != null || this.Model.Doctorate.PersonalWorkPlanFile != null)
        {
            <h3>Work Plans</h3>
            if (this.Model.Doctorate.GeneralWorkPlanFile != null)
            {
                <div>
                    <p>General work plan:</p>
                    <a class="diploma-download" href='@Url.Action("Index", "Download", new { id = this.Model.Doctorate.GeneralWorkPlanFileId })' target = "_blank">@this.Model.Doctorate.GeneralWorkPlanFile.FileName</a>
                </div>
            }
            
            if (this.Model.Doctorate.PersonalWorkPlanFile != null)
            {
                <div>
                    <p>Personal work plan:</p>
                    <a class="diploma-download" href='@Url.Action("Index", "Download", new { id = this.Model.Doctorate.PersonalWorkPlanFileId })' target = "_blank">@this.Model.Doctorate.PersonalWorkPlanFile.FileName</a>
                </div>
            }   
        }

        @if (this.Model.Doctorate.GeneralWorkPlanFile != null && this.Model.Doctorate.PersonalWorkPlanFile != null)
        {
            using (Html.BeginForm("UpdateDoctorate", "Teacher"))
            {
        
                <fieldset>
                    @Html.HiddenFor(m => m.Doctorate.Id)

                    <legend>Select lead teachers and consultants</legend>
                    <ul>
                        <li>
                            @Html.LabelFor(m => m.Doctorate.LeadTeachers)
                            @(Html.Kendo().MultiSelectFor(x => x.SelectedLeadTeachersUserIds)
                                .BindTo(ViewBag.Users)
                                .DataValueField("UserId")
                                .DataTextField("Email"))
                        </li>

                        <li>
                            @Html.LabelFor(m => m.Doctorate.Consultants)
                            @(Html.Kendo().MultiSelectFor(x => x.SelectedConsultantsUserIds)
                                .BindTo(ViewBag.Users)
                                .DataValueField("UserId")
                                .DataTextField("Email"))
                        </li>
                    </ul>
                    <input type="submit" value="Submit" class="k-button" />
                </fieldset>
            }
        }
    </div>
</div>