<ul id="menu">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    @if(Roles.IsUserInRole("Admin"))
    {
        <li>@Html.ActionLink("Administration", "Index", "Administration" )</li>
    }
    @if(Roles.IsUserInRole("Student"))
    {
        <li>@Html.ActionLink("MyAssignment", "Index", "Students" )</li>
        <li>@Html.ActionLink("MyThesis", "Thesis", "Students" )</li>
    }
    @if(Roles.IsUserInRole("Doctorant"))
    {
        <li>@Html.ActionLink("Work Plan", "Index", "Doctorant" )</li>
    }
    @if(Roles.IsUserInRole("Teacher"))
    {
        <li>@Html.ActionLink("AllStudents", "Index", "Teacher" )</li>
    }
</ul>
