<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        @if (Roles.IsUserInRole("Admin"))
        {
            <li>@Html.ActionLink("Administration", "Index", "Administration")</li>
        }
        @if (Roles.IsUserInRole("Student"))
        {
            <li>@Html.ActionLink("MyAssignment", "Index", "Students")</li>
            <li>@Html.ActionLink("MyThesis", "Thesis", "Students")</li>
            <li>@Html.ActionLink("MyStatus", "DiplomaStatus", "Students")</li>
        }
        @if (Roles.IsUserInRole("Doctorant"))
        {
            <li>@Html.ActionLink("Work Plan", "Index", "Doctorant")</li>
            <li>@Html.ActionLink("Science Leader", "Leader", "Doctorant" )</li>
        }
        @if (Roles.IsUserInRole("Teacher"))
        {
            <li>@Html.ActionLink("All Students", "Index", "Teacher")</li>
        }
    </ul>
     <div class="login-partial">
                @Html.Partial("_LoginPartial")
     </div>
</div>
